html
  head
    title ReqSub
    link(rel="stylesheet", href="/css/app.css")
  body
    h1 
      span.text Reqsub started
      span.version v#{version}
      
    h2 Subscribed clients: 
    table#clients
      thead
        tr
          th Id
      tbody
    h2 Requests:
    table#requests
      thead
        tr
          th Time
          th Method
          th Query
          th Body
      tbody
    
    footer
      ul.links
        li Created by <a href="https://twitter.com/hiddentao">@hiddentao</a>
        li <a href="https://github.com/hiddentao/reqsub">Github</a>
        
        
  script(type="text/javascript", src="/socket.io.js")
  script(type="text/javascript", src="/js/app.js")  
  if config.mode === 'development'
    script(type="text/javascript", src="http://localhost:53235/livereload.js")    